################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/rotate-video-without-re-encoding/v16
/.vs
